{% extends "base.html" %}

{%block content%}
<h1>Index page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sequi non obcaecati, blanditiis animi aperiam? Officia, asperiores doloremque! Iure expedita explicabo est nisi rerum doloribus excepturi quos aspernatur atque id!
Dicta quas, tempora animi dolore ipsa dolorem exercitationem nesciunt? Amet labore nesciunt sapiente delectus aperiam a magnam corporis et adipisci optio perferendis, rerum reprehenderit eos, aliquid iusto facere ut velit.
Aliquid eaque nihil cumque molestiae iste aliquam fugiat fugit sunt quae exercitationem iusto laborum voluptatum, sint soluta? Provident esse sint expedita accusantium, obcaecati molestias minus quo veritatis, nam temporibus a.
Aliquid quae ipsum repellat optio quos quam quia, quisquam saepe alias! Totam nisi dolore at culpa, nemo neque dolorum asperiores delectus optio quasi perferendis itaque nam, earum iure accusamus vel.
Beatae a laboriosam excepturi, magni, omnis ratione, doloribus optio expedita consequatur mollitia neque laudantium accusantium libero quaerat reiciendis distinctio at in possimus nam molestiae debitis. Quam iusto accusamus repellat veniam.
Veniam, dolore illum sunt fugiat distinctio quis quas cupiditate ullam aliquid quia incidunt quaerat aut quo numquam odio amet sequi! Libero consequatur temporibus ad ullam facere fugit veritatis eos debitis!
Dignissimos nobis sapiente tenetur animi pariatur tempora molestiae, numquam, eius officia in unde placeat. Doloribus sunt ipsum maxime accusantium nam accusamus minus omnis. Velit est quo labore molestiae hic quibusdam?
Quibusdam, deleniti eaque minima delectus rem error, vitae omnis fugiat iste necessitatibus labore quidem repellat quis suscipit neque, itaque quia nisi optio. Repudiandae laborum nemo eaque necessitatibus eveniet, atque unde.
Tenetur harum nostrum eaque voluptate quibusdam aliquid optio eum inventore aspernatur est blanditiis fugit eveniet ratione, maiores, nulla cum velit, doloremque vel esse facilis a beatae provident dolorum? Corrupti, et?
Repellat ex suscipit ea dolores, eius doloremque nostrum error ad aspernatur cumque optio eligendi voluptates natus ab laborum! Ad, quas! Harum, sed nam dolor voluptate rerum delectus voluptas aliquid laboriosam.
In, recusandae tenetur! Laboriosam possimus distinctio deserunt accusamus nisi modi iusto, unde ducimus aut assumenda mollitia officia quasi explicabo fuga? Quis quod, ducimus laborum optio quas adipisci nesciunt nam earum.
In veniam nam modi dolorum, repudiandae optio recusandae corrupti fugit dignissimos temporibus. Accusantium, laudantium iste inventore cumque et nostrum corrupti sapiente repellendus maxime pariatur ipsum expedita! Magni repellendus iure tenetur.
</p>
{% endblock %}