{% extends "base.html" %}

{% load static %}

{%block content%}
    <div class="row">
        <div class="col-4">
            <h3>New Questions</h3>
        </div>
        <div class="col-6">
            <a href="#">Hot questions</a>
        </div>
    </div>
    <div class="row border top-buffer">
        <div class="col-md-1">
            <img src="{% static 'images/avatar_default.jpg' %}" class="card-img img-fluid" alt="avatar">
            <a class="text-center" href="#">likes</a>
        </div>
        <div class="col-md-10 ml-3">
            <div class="row">
                <a href="#" class="question_title"><u>Название вопроса</u></a>
            </div>
            <div class="row">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nisi officia cum neque debitis, ad repellendus voluptatibus? Beatae eum quod accusamus.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" style="line-height: 40px;">answers(3)</a>
                </div>
                <div class="col-md-2">
                    <span style="line-height: 40px;">Tags:</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline" style="line-height: 40px;">
                        <li class="list-inline-item" style="line-height: 40px;"><a href="#">tag#1</a></li>
                        <li class="list-inline-item" style="line-height: 40px;"><a href="#">tag#2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% block pagination %}
    {% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    {% endblock %}
    
{% endblock %}
