{% for answer in answers %}
<div class="row border-bottom block_with_answer mt-5 mb-5 mr-3">
    <div class="col-1 p-0 answer_avatar">
        <div class="row mb-2">
                <div class="col-10 mx-auto">
                    <img src="{{ answer.answer_author.get_avatar }}" class="img-fluid img-thumbnail rounded z-depth-1" alt="avatar">
                </div>
            </div>
        <div class="row">
            <div class="col-6 text-right pr-1">
                <span class="badge badge-pill badge-primary {{ answer.id }}">{{ answer.total_likes }}</span>
            </div>
            <div class="col-6 px-0">
                <span class="align-middle">
                    <a href="" class='like {{ answer.id }}'
                       data-id="{{ answer.id }}"
                       data-action="{% if request.user.id in answer.get_users_id_who_liked_question %}un{% endif %}like"
                       data-type="{{ answer.get_class }}">
                        <i class="fa{% if request.user.id in answer.get_users_id_who_liked_question %}s{% else %}r{% endif %} fa-heart"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-11 answer_body">
        <p class="text-break">{{ answer.text }}</p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Correct
            </label>
        </div>
    </div>
</div>
{% endfor %}