{% for answer in answers %}
<div class="row border-bottom block_with_answer mt-5 mb-5 mr-3">
    <div class="col-1 p-0 answer_avatar">
        <div class="row mb-2">
                <div class="col-10 mx-auto">
                    <img src="{{ answer.answer_author.get_avatar }}" class="img-fluid img-thumbnail rounded z-depth-1" alt="avatar">
                </div>
            </div>
        <div class="row">
            <div class="col-6 text-right pr-1">
                <span class="badge badge-pill badge-primary {{ answer.id }}">{{ answer.total_likes }}</span>
            </div>
            <div class="col-6 px-0">
                <span class="align-middle">
                    <a href="" class='like {{ answer.id }}'
                       data-id="{{ answer.id }}"
                       data-action="{% if request.user.id in answer.get_users_id_who_liked_question %}un{% endif %}like"
                       data-type="{{ answer.get_class }}">
                        <i class="fa{% if request.user.id in answer.get_users_id_who_liked_question %}s{% else %}r{% endif %} fa-heart"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-11 answer_body">
        <p class="text-break">{{ answer.text }}</p>
        {% if user == question.question_author %}
        <span class="align-bottom">
            <a href="" class='correct-answer {{ answer.id }}' data-question_id="{{ question.id }}" data-answer_id="{{ answer.id }}">
                <i class="{% if answer == question.correct_answer  %}far fa-check-square{% else %}far fa-square{% endif %} material-tooltip-main" data-toggle="tooltip" data-placement="right" title="Click here to mark this answer as correct."></i>
            </a>
        </span>
        {% endif %}
        {% if answer == question.correct_answer %}
        <span class="align-bottom">
            <i class="fas fa-check">Correct</i>
        </span>
        {% endif %}
    </div>
</div>
{% endfor %}