<div class="row">
  <div class="col-12">
    <ul class="nav flex-column lighten-4">
      <li class="nav-item">
        <a class="nav-link blue-grey-text" href="{% url 'application:home' %}"><i class="fas fa-globe"></i></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link blue-grey-text disabled" href=""><i class="fas fa-question"></i> Questions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link blue-grey-text disabled" href=""><i class="fas fa-tags"></i> Tags</a>
      </li>
      <li class="nav-item">
        <a class="nav-link blue-grey-text disabled" href=""> <i class="fas fa-user"></i> Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link blue-grey-text" href="{% url 'application:other' 'about' %}"><i class="fas fa-book-open"></i> About</a>
      </li>
    </ul>
  </div>
</div>
