<!-- Modal Delete Question -->
 <div class="modal fade" id="DeleteQuestionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-notify modal-danger" role="document">
     <!--Content-->
     <div class="modal-content">
       <!--Header-->
       <div class="modal-header">
         <p class="heading lead">Delete question.</p>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true" class="white-text">&times;</span>
         </button>
       </div>
       <!--Body-->
       <div class="modal-body">
         <div class="text-center">
           <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
           <p class="text-break">Are you sure you want to delete the question: "{{ question.title }}"?
         </div>
       </div>
       <!--Footer-->
       <div class="modal-footer justify-content-center">
         <form method="POST" action="{% url 'application:delete-question' question.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, I am sure <i class="fas fa-ban ml-1 text-white"></i></button>
          </form>
         <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No, go back</a>
       </div>
     </div>
     <!--/.Content-->
   </div>
 </div>
