{% load static %}
<div class="row border block_with_question">
    <div class="col-1 p-0 question_avatar">
        <img src="{% static 'images/avatar_default.jpg' %}" class="card-img img-fluid" alt="avatar">
        <div class="question_likes">
            <a class="text-center" href="#">likes</a>
        </div>
    </div>
    <div class="col-10 question_body">
        <div class="row question_title">
            <a href="{% url 'answers-to-question' %}"><u>{{question.title}}</u></a>
        </div>
        <div class="row question_text">
            <p>{{ question.text }}</p>
        </div>
        <div class="row">
            <div class="col-4 question_answers">
                <a href="#">answers(3)</a>
            </div>
            <div class="col-2 question_tags_title">
                <p>Tags:</p>
            </div>
            <div class="col-6 quesion_tags">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">tag#1</a></li>
                    <li class="list-inline-item"><a href="#">tag#2</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>