{% for question in questions %}
<div class="row block_with_question mx-0 my-3 pt-2 border-top" >

    <div class="col-2 col-md-1 px-1 question-avatar">
        <img src="{{ question.question_author.get_avatar }}" class="img-fluid img-thumbnail rounded z-depth-1" alt="avatar">
    </div>

    <div class="col-2 col-md-1 pt-3 count-votes">
        <a href="{% url 'application:answers-to-question' question.id %}" class="stretched-link"></a>
        <div class="row">
            <div class="col-12 text-center">
                <span class="blue-grey-text {{ question.id }}">{{ question.total_likes }}</span>
            </div>
            <div class="col-12 text-center">
                <span class="blue-grey-text">vote{% if question.total_likes == 1 %}{% else %}s{% endif %}</span>
            </div>
        </div>
    </div>

    <div class="col-2 col-md-1 pt-3 count-answers">
        <a href="{% url 'application:answers-to-question' question.id %}" class="stretched-link"></a>
        <div class="row">
            <div class="col-12 px-1 text-center">
                <span class="blue-grey-text">{{question.answers.all|length}}</span>
            </div>
            <div class="col-12 px-1 text-center">
                <span class="blue-grey-text">answer{% if question.answers.all|length_is:1 %}{% else %}s{% endif %}</span>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-9 mt-2 mt-md-0 question-body">
        <div class="row">
            <div class="col-12 mb-2">
                <a href="{% url 'application:answers-to-question' question.id %}" class="text-break blue-text">{{ question.title|truncatechars:150 }}</a>
            </div>
            <div class="col-7 align-self-end">
                {% include 'include_blocks/tags_block.html' %}
            </div>
            <div class="col-5 align-self-end text-truncate text-right">
                <span class="text-muted small">asked {{ question.created_at|date:"M j 'y" }} </span>
                <a href="#" class="text-break small blue-text"> {{ question.question_author.username }}</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}