{% load static%}
{% for question in questions %}
<div class="row border block_with_question">
    <div class="col-1 p-0 question_avatar">
        <img src="{% static 'images/avatar_default.jpg' %}" class="card-img img-fluid" alt="avatar">
        <div class="question_likes">
            <a class="text-center" href="#">likes</a>
        </div>
    </div>
    <div class="col-10 question_body">
        <div class="row question_title">
            <a href="{% url 'answers-to-question' question.id %}"><u>{{question.title}}</u></a>
        </div>
        <div class="row question_text">
            <p>{{ question.text }}</p>
        </div>
        <div class="row">
            <div class="col-4 question_answers">
                <a href="{% url 'answers-to-question' question.id %}">answers ({{question.answers.all|length}})</a>
            </div>
            <div class="col-2 question_tags_title">
                <p>Tags:</p>
            </div>
            <div class="col-6 quesion_tags">
                {% include 'include_blocks/tags_block.html' %}
            </div>
        </div>
    </div>
</div>
{% endfor %}