html, body{
    height: 100%;
}
main {
    min-height: 100%;
}
main .container-fluid{
    padding-top: 85px;
}

/* HEADER */

.header_avatar img{
    height: 35px;
}

/* BLOCK CONTENT ANSWERS */

.form_for_answer div{
    margin-bottom: 5px;
}
.form_for_answer div textarea{
    width: 100%;
    height: 120px;
    resize: none;
}

/* BLOCK CONTENT ASK */
.ASK_form div div textarea{
    width: 100%;
    height: 300px;
    resize: none;
}

/* BLOCK CONTENT SETTINGS */
.settings-avatar img{
    height: 150px;
}

