/* HEADER */

header{
    height: 80px;
}
.header_card{
    max-width: 150px;
}
.form_search{
    margin-left: 50px;
}
.btn_ask{
    margin-left: 20px;
}

/* RIGHT BLOCKS */
.right_block_tags{
    height: 150px;
}
.block_tags_title h3{
    text-align: center;
}
.block_members_title h3{
    text-align: center;
}

/* BLOCK CONTENT QUESTIONS */
.questions_title{
    text-align: center;
    height: 46px;
}
.questions_title h3{
    margin: 0;
    line-height: 46px;
}
.hot_questions{
    line-height: 46px;
}
.block_with_question{
    margin-top: 20px;
    margin-right: 20px;
}
.question_body .question_title{
    font-size: 15pt;
}
.question_title a{
    line-height: 30px;
}
.question_title p{
    margin-bottom: 0;
}
.block_with_question .question_avatar{
    text-align: center;
}
.block_with_question .question_body{
    margin-left: 20px;
}
.question_likes a{
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}
.question_text p{
    margin-top: 16px;
}
.question_answers{
    height: 40px;
}
.question_answers a{
    line-height: 40px;
}
.question_tags_title{
    height: 40px;
}
.question_tags_title p{
    text-align: right;
    line-height: 40px;
    margin-bottom: 0;
}
.quesion_tags{
    height: 40px;
}
.quesion_tags ul{
    line-height: 40px;
    margin-bottom: 0;
}

/* BLOCK CONTENT ANSWERS */
.block_with_answer{
    margin-top: 20px;
    margin-right: 20px;
}
.block_with_answer .answer_avatar{
    text-align: center;
}
.answer_likes a{
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}
.answer_body p{
    margin-top: 8px;
}
.dividing_line{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form_for_answer div{
    margin-bottom: 5px;
}
.form_for_answer div textarea{
    width: 100%;
    height: 120px;
    resize: none;
}

/* BLOCK CONTENT ASK */
.ASK_form div div textarea{
    width: 100%;
    height: 300px;
    resize: none;
}

/* BLOCK CONTENT SETTINGS */
.upload_avatar_field{
    margin-top: 20px;
}