/* HEADER */
header{
    height: 80px;
}
/* RIGHT BLOCKS */
.right_block_height{
    height: 150px;
}
/* QUESTIONS */
.row .col-6 a{
    line-height: 46px;
}
.question_title{
    font-size: 15pt;
}
.top-buffer{
    margin-top: 20px;
}