{% extends "base.html" %}
{% load static %}

{% block content_header %}{% endblock %}

{% block content_header_link %}{% endblock %}

{% block home_page_div %}
    <div class="col-12 col-md-10 order-2 block_content">
{% endblock %}

{%block content%}
<div class="row justify-content-around">

    <div class="jumbotron card card-image img-responsive" style="background-image: url({% static 'images/background_index_question.jpg' %});">
      <div class="text-center py-3 px-4">
        <div>
          <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Smart answers to your brilliant questions.</strong></h2>
            <p class="mx-5 mb-5 mt-3">
                This project will help to get answers to your questions. Ask questions! Share knowledge! Meet interesting people!
            </p>
          <a href="{% url 'application:other' 'about' %}" class="btn btn-outline-dark btn-md text-black-50"><i class="fas fa-clone left text-black-50"></i> About</a>
        </div>
      </div>
    </div>

    <div class="col-10 col-md-9 text-center align-self-center mb-3">
        <span>At the moment, the project is under development. You can see the source code in my repository
              <a href="https://github.com/lut1k/web_django" class="blue-text">GitHub</a>.</span>
    </div>

    <div class="col-10 col-md-4 my-3 my-md-0">
        <div class="card card-image"
          style="background-image: url({% static 'images/background_card_question.png' %});
                  background-size: 92%;">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"
          style="height: 450px">
            <div>
              <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Q&A</h5>
              <h3 class="card-title pt-2"><strong>Free Q&A</strong></h3>
              <p>In this section you can see all existing questions and answers to them.</p>
              <a class="btn btn-pink" href="{% url 'application:questions' %}"><i class="fas fa-clone left"></i> Browse questions</a>
            </div>
          </div>
        </div>
    </div>

    <div class="col-10 col-md-4 my-3 my-md-0">
        <div class="card card-image"
          style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"
          style="height: 450px">
            <div>
              <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Tags</h5>
              <h3 class="card-title pt-2"><strong>Question tags</strong></h3>
              <p>The tag system allows you to get an answer to a topic that interests you.
                  There is also a feature to search for questions related to a specific tag. Look for questions faster.</p>
              <a class="btn btn-pink disabled"><i class="fas fa-clone left"></i>In developing</a>
            </div>
          </div>
        </div>
    </div>

    <!-- Card deck -->
    <div class="col-10 card-deck mt-5">
      <div class="card mb-4">
        <div class="view overlay">
          <img class="card-img-top" src="{% static 'images/background_card_vote.png' %}"
            alt="Card image cap">
            <div class="mask rgba-white-slight"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Voting</h4>
          <p class="card-text">Mark your favorite questions, answers, and users.</p>
        </div>
      </div>

      <!-- Card -->
      <div class="card mb-4">
        <div class="view overlay">
          <img class="card-img-top" src="{% static 'images/background_card_correct.jpg' %}" alt="Card image cap">
            <div class="mask rgba-white-slight"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Correct answers</h4>
          <p class="card-text">
              The author of the question can mark the answer as the best (one answer to the asked question).
          </p>
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-4">
        <div class="view overlay">
          <img class="card-img-top" src="{% static 'images/background_card_email.jpg' %}"
            alt="Card image cap">
            <div class="mask rgba-white-slight"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Email notifications</h4>
          <p class="card-text">Receive email notifications of new answers to your questions.</p>
        </div>
      </div>
    </div>
    <!-- Card deck -->

</div>
{% endblock %}

{% block right_blocks %}{% endblock %}
