{% extends "base.html" %}

{%block title%}<title>Answers to question</title>{% endblock %}

{% block content_header %}
<div class="col-12 text-break">
    <h4>{{ question.title }}</h4>
</div>
<div class="col-4">
    <span class="small text-muted">Asked {{ question.created_at|date:"M j 'y \a\t G:i" }}</span>
</div>
<hr>
{% endblock %}

{%block content%}
<div class="row mb-5">
    <div class="col-1">
        <div class="row">
            <div class="col-12 text-center">
                <span class="blue-grey-text {{ question.id }}">{{ question.total_likes }}</span>
            </div>
            <div class="col-12 text-center">
                <span class="blue-grey-text">vote{% if question.total_likes == 1 %}{% else %}s{% endif %}</span>
            </div>
            <div class="col-12 text-center">
                <span>
                    <a href="" class='like {{ question.id }}'
                       data-id="{{ question.id }}"
                       data-action="{% if request.user.id in question.get_users_id_who_liked_question %}un{% endif %}like"
                       data-type="{{ question.get_class }}">
                        <i class="blue-grey-text fas fa-chevron-{% if request.user.id in question.get_users_id_who_liked_question %}down{% else %}up{% endif %} {% if not user.is_authenticated %}material-tooltip-main{% endif %}" {% if not user.is_authenticated %} data-toggle="tooltip" data-placement="right" title="Login please, for like object."{% endif %}></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-11">
        <span class="text-break"><b>{{question.text}}</b></span>
        <div class="col-12 my-2 px-0">
        {% include 'include_blocks/tags_block.html' %}
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <a class="nav-link blue-grey-text" href=""><i class="far fa-comment"></i> add a comment</a>
                </div>
                <div class="col-4">
                    {% if user == question.question_author %}
                    <a class="nav-link blue-grey-text" href=""><i class="far fa-edit"></i> edit</a>
                    <a class="nav-link blue-grey-text" href=""><i class="fas fa-ban"></i> delete</a>
                    {% endif %}
                </div>
                <div class="col-4">.</div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-12">
        <span>{{  question.answers.all|length }} Answer{% if question.answers.all|length_is:1 %}{% else %}s{% endif %}.</span>
    </div>
</div>
{% include 'include_blocks/answers_block.html' %}
{% include 'include_blocks/paginator.html' %}

<div class="row">
    <div class="col-12">
        {% if user.is_authenticated %}
        <a id="answer_form"></a>
        <form  method="post" class="form_for_answer" action="{{ request.get_full_path }}">
            {% csrf_token %}
            {% include "include_blocks/form.html" %}
            <button type="submit" class="btn btn-primary my-1">Answer</button>
        </form>

        {% else %}
        <p>
            To answer, you need <a href="{% url 'application:login' %}?next={{ request.get_full_path }}#answer_form">log in</a>.
        </p>
    {% endif %}
    </div>
</div>

{% endblock %}
