{% extends "base.html" %}

{%block title%}<title>Answers to question</title>{% endblock %}
{%block content%}
<div class="jumbotron hoverable p-2">
    <div class="row mx-0">
        <div class="col-2 col-md-2 p-0 question_avatar">
            <div class="row mb-2">
                <div class="col-8 mx-auto">
                    <img src="{{ question.question_author.get_avatar }}" class="img-fluid img-thumbnail rounded z-depth-1" alt="avatar">
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-right pr-1">
                    <span class="badge badge-pill badge-primary {{ question.id }}">{{ question.total_likes }}</span>
                </div>
                <div class="col-6 px-0">
                    <span class="align-middle">
                        <a href="" class='like {{ question.id }}'
                           data-id="{{ question.id }}"
                           data-action="{% if request.user.id in question.get_users_id_who_liked_question %}un{% endif %}like"
                           data-type="{{ question.get_class }}">
                            <i class="fa{% if request.user.id in question.get_users_id_who_liked_question %}s{% else %}r{% endif %} fa-heart"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-10 question_body">
            <div class="row question_title">
                <div class="col-8">
                    <h5 class="text-break">{{ question.title }}</h5>
                </div>
                <div class="col-4 align-self-center">
                    <span>asked {{ question.created_at|date:"M j 'y \a\t G:i" }}</span>
                    <a href="#" class="text-break">{{ question.question_author.username }}</a>
                </div>
            </div>
            <div class="row question_text mt-2">
                <p class="text-break">{{question.text}}</p>
            </div>
            <div class="row">
                <div class="col-md-2 question_tags_title text-right">
                    <p>Tags:</p>
                </div>
                <div class="col-md-9 question_tags">
                    {% include 'include_blocks/tags_block.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <span>{{  question.answers.all|length }} Answers. </span>
    </div>
</div>
{% include 'include_blocks/answers_block.html' %}
{% include 'include_blocks/paginator.html' %}

<div class="row">
    <div class="col-12">
        {% if user.is_authenticated %}
        <a id="answer_form"></a>
        <form  method="post" class="form_for_answer" action="{{ request.get_full_path }}">
            {% csrf_token %}
            {% include "include_blocks/form.html" %}
            <button type="submit" class="btn btn-primary my-1">Answer</button>
        </form>

        {% else %}
        <p>
            To answer, you need <a href="{% url 'application:login' %}?next={{ request.get_full_path }}#answer_form">log in</a>.
        </p>
    {% endif %}
    </div>
</div>

{% endblock %}
