{% extends "base.html" %}

{%block title%}<title>Answers to question</title>{% endblock %}
{%block content%}
<div class="row border-bottom block_with_question">
    <div class="col-2 col-md-2 p-0 question_avatar">
        <img src="{{ question.question_author.get_avatar }}" class="card-img img-fluid" alt="avatar">
        <div class="question_likes">
            <a class="text-center" href="#">likes</a>
        </div>
    </div>
    <div class="col-9 col-md-9 question_body">
        <div class="row question_title">
            <div class="col-12">
                <p>{{question.title}}</p>
            </div>
        </div>
        <div class="row question_text">
            <p>{{question.text}}</p>
        </div>
        <div class="row">
            <div class="col-md-2 question_tags_title">
                <p>Tags:</p>
            </div>
            <div class="col-md-9 quesion_tags">
                {% include 'include_blocks/tags_block.html' %}
            </div>
        </div>
    </div>
</div>
{% include 'include_blocks/answers_block.html' %}
{% include 'include_blocks/paginator.html' %}
<div class="row border-top dividing_line"></div>

<div class="row">
    <div class="col-12">
        {% if user.is_authenticated %}
        <a id="answer_form"></a>
        <form  method="post" class="form_for_answer" action="{{ request.get_full_path }}">
            {% csrf_token %}
            {% include "include_blocks/form.html" %}
            <button type="submit" class="btn btn-primary my-1">Answer</button>
        </form>

        {% else %}
        <p>
            To answer, you need <a href="{% url 'application:login' %}?next={{ request.get_full_path }}#answer_form">log in</a>.
        </p>
    {% endif %}
    </div>
</div>

{% endblock %}
