{% extends "base.html" %}
{% load asktags %}

{% block title %}<title>Tags</title>{% endblock %}
{% block content_header %}<h3>Tags</h3>{% endblock %}

{% block content_header_link %}
<div class="col-12 col-md-8">
    <p>A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags
        makes it easier for others to find and answer your question.</p>
</div>
<div class="col-12 col-md-6 m-0">
    <form class="form-inline my-1 my-md-0 ml-1" method="get">
        <input class="form-control" type="search" placeholder="Filter by tag name" aria-label="Filter" name="filter_tags">
        <button class="btn btn-sm btn-blue-grey my-1 my-md-0 ml-0 ml-sm-2" type="submit"><i class="fas fa-search"></i> Filter</button>
    </form>
</div>
<div class="col-12 col-md-6 m-0 text-md-right">
    <div class="btn-group" role="group" aria-label="Filter questions">
        <a href="{% url 'application:tags' %}?tab=popular" type="button" class="btn btn-blue-grey btn-sm"><i class="fas fa-pepper-hot"></i> Popular</a>
        <a href="{% url 'application:tags' %}?tab=name" type="button" class="btn btn-blue-grey btn-sm"><i class="far fa-file-word"></i> Name</a>
        <a href="{% url 'application:tags' %}?tab=new" type="button" class="btn btn-blue-grey btn-sm"><i class="fas fa-external-link-alt"></i></i> New</a>
    </div>
</div>
{% endblock %}

{% block home_page_div %}
    <div class="col-12 col-md-10 order-2 block_content">
{% endblock %}

{%block content%}
    {% include 'include_blocks/tag_block.html' %}
    {% include 'include_blocks/paginator.html' %}
{% endblock %}

{% block right_blocks %}{% endblock %}