{% extends "base.html" %}

{% block title %}<title>l-ASK/login</title>{% endblock %}
{% block content_header %}{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<p>You are already signed in.</p>

{% else %}
<div class="row justify-content-center">
    <div class="col-lg-5 col-12">
        <form class="text-center border border-light p-5 jumbotron hoverable" action="{% url 'application:login' %}" method="POST">
            <p class="h4 mb-4">Sign in</p>
            {% include "include_blocks/form.html" %}
            <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
            <!-- Register -->
            <p>Not a member?
                <a href="{% url 'application:register' %}">Register</a>
            </p>
            <!-- Social login -->
            <p>or sign in with:</p>
                <a href="{% url 'social:begin' 'vk-oauth2' %}" class="mx-2" role="button"><i class="fab fa-vk light-blue-text"></i></a>
        <!--    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>-->
        <!--    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>-->
        <!--    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>-->
        <!--    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>-->
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
{% block right_blocks %}{% endblock %}
